hr{border:none;border-top:1px solid #e6d5c4;height:0}h1,h2,h3,.h3,h4,h5{color:#155061;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;margin-bottom:5px;padding-bottom:6px}h2,h3,h4,h5{margin:1em 0 0.5em; line-height:1.3em;}h1{font-size:190%;letter-spacing:0.02em;margin-top:0;font-weight:bold}h2{font-size:150%;font-weight:bold;}h3,.h3{font-size:150%}.h3 h3{font-size:100%}.h3 p,.h3 div,.h3 ul{font-size:66.6667%;font-family:Georgia,Palatino,"Palatino Linotype",Times,Times New Roman,serif;color:#09232a}.h3 div p,.h3 div div,.h3 div ul,.h3 ul p,.h3 ul div,.h3 ul ul{font-size:100%}h4,h5{font-weight:bold}h4{font-size:110%;font-style:italic}h5{font-size:110%}p,ul,ol,li{margin-bottom:12px}em{font-style:italic}strong{font-weight:bold}blockquote{margin:1em -18px;padding:0 18px}blockquote .ldquo,blockquote .rdquo{display:none}.aside blockquote .ldquo,.aside blockquote .rdquo{color:#98adb3;display:block;line-height:0;font-size:50px}ul{padding:0}ol{list-style:decimal;padding:0 0 0 48px}ol.inline{overflow:hidden;*zoom:1;display:block;width:100%;padding:0;margin:0}ol.inline li{list-style:none;display:block;float:left;margin:0;padding:0 2em 0 0}ol.inline li ul li{margin-left:0;list-style:none}ol.inline li ol>li{margin-left:2em;list-style:lower-alpha}ol.inline li ol>li ol>li{list-style:lower-roman}ol.inline li ol>li ol>li ol>li{list-style:decimal}.numbered{padding-left:48px}.numbered .number{display:block;float:left;margin-left:-48px;padding-right:0.5ex}table{border-collapse:collapse;margin:0}table td,table th{padding:0.3em 0.5em}a:link,a:visited{color:#008c00;text-decoration:underline}a:link:hover,a:visited:hover{color:#00bf00}.centered{text-align:center}.hidden{display:none}.clear{clear:both}
html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
blockquote,cite{font-style:italic}blockquote i,blockquote em,cite i,cite em{font-style:normal}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.aligncenter {
  display: block;
  margin: 0 auto 20px;
}

img.alignnone {
  margin: 0 0;
}

